.titulo-principal{
    text-align: center;
    margin: 2em 0;
}


/*AJUSTES VISUALES DEL CALENDARIO DE VACUNAS*/
div .fc-head{
    background-color: rgb(181, 207, 240);
}

.fechas-abril{
    background-color: rgb(21, 92, 97) !important;
    border-radius: 0.5em !important;
    border-width: 0em !important;
}

.fechas-junio{
    background-color: rgb(180, 180, 24) !important;
    border-radius: 0.5em !important;
    border-width: 0em !important;
}

.fechas-septiembre-octubre{
    background-color: rgb(172, 104, 27) !important;
    border-radius: 0.5em !important;
    border-width: 0em !important;
}

/*FIN DE AJUSTE VISUALES DEL CALENDARIO DE VACUNAS*/


/* btn-voler */
.btn-volver button {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    font-size: 1em;
    padding: 10px;
    background-color: white;
    border: none;
    cursor: pointer;
    margin: 10% 0;
    transition: background 1s, color 1s;
}
.btn-volver button:hover {
    background-color: rgb(11 97 204);
    border-radius: 5px;
    color: white;
}
.btn-volver i {
    font-size: 2em;
    margin-right: 20px;
}
.btn-volver a {
    text-decoration: none;
}

/* TABLET */
@media screen and (min-width: 768px) {
    .btn-volver button{
        margin: 3% 0;
    }
}

/* ----------- FIN TABLET ----------------- */
