* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}

h1 {
    font-size: 3em;
    font-weight: 600;
    text-transform: uppercase;
}
h2 {
    font-size: 2.6em;
    text-transform: uppercase;
}
h3 {
    font-size: 2.3em;
    text-transform: uppercase;
}
h4 {
    font-size: 2em;
    font-weight: 300;
    text-transform: uppercase;
}
h5 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.2em;
}
p {
    font-size: 1em;
}

.container {
    width: 80%;
    margin: auto;
}
.container-fluid {
    width: 100%;
    margin: auto;
}
.ocultar {
    display: none;
}

/* header */
.header-content {
    background: rgb(11 97 204);
    padding: 20px;
}

.header-content div {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
.header-content div img {
    display: none;
}
.header-content div input {
    margin-right: 20px;
    width: 80%;
    border: none;
    opacity: 0.7;
    color: black;
    padding: 10px;
    border-radius: 10px;
}
.header-content div button {
    font-size: 1.3em;
    padding: 10px;
    background: rgb(30 65 109);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

/* nav-bar */
.nav-bar ul {
    background: #1e416d;
}
.nav-bar ul li {
    text-transform: uppercase;
    padding: 15px 0px;
    text-align: left;
    list-style: none;
}
.nav-bar ul li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2em;
    color: rgb(160 159 159);
    padding: 10px;
}
.nav-bar ul li a:hover {
    color: white;
}
.nav-bar-menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.nav-bar-menu i {
    position: absolute;
    left: 0px;
    color: white;
    font-size: 1.2em;
    padding: 10px;
}
.close-nav-bar{
    position: absolute;
    right: 0px;
    padding: 10px;
    color: white;
    font-weight: 700;
}
/* footer */
.footer-content {
    background: rgb(2 50 109);
    color: white;
    display: block;
    margin-top: 50px;
    padding: 10px;
    text-align: center;
}

.footer-title {
    margin: 20px 0;
}

.footer-content ul {
    list-style: none;
}
.footer-content ul li a {
    text-decoration: none;
    color: white;
}
.footer-content ul li a:hover {
    font-size: 1.1em;
    font-weight: 500;
}
.footer-right a {
    text-decoration: none;
    font-size: 2em;
    margin-right: 20px;
    cursor: pointer;
    color: rgb(197, 181, 181);
    text-align: center;
}
.footer-right a:hover {
    color: white;
}

/* btn-arriba */
.arriba {
    display: block;
    width: 60px;
    height: 60px;
    background-color: rgb(11 97 204);
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    background-image: url(../img/flecha.png);
    background-size: cover;
    border: none;
    opacity: 0.7;
}
.arriba:hover {
    background-color: rgb(11 97 204);
    background-image: url(../img/flecha.png);
    background-size: cover;
    opacity: 1;
    border: none;
}

/*mapa de google*/
main figure iframe {
    padding: 5px 0px;
    border-radius: 20px;
    opacity: 0.3;
    width: 100%;
    height: 500px;
}

main figure iframe:hover {
    opacity: 1;
    -webkit-box-shadow: 0px 66px 100px -20px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 0px 66px 100px -20px rgba(0, 0, 0, 0.56);
    box-shadow: 0px 66px 100px -20px rgba(0, 0, 0, 0.56);
}


/* TABLET */
@media screen and (min-width: 768px) {
    /* header */
    .header-content div img {
        margin-right: 35px;
        display: block;
        width: 8%;
    }
    .header-content div input {
        margin-right: 20px;
        width: 80%;
    }
    .header-content div button {
        padding: 15px;
    }
    /* nav-bar */
    .nav-bar ul {
        display: flex;
        justify-content: space-evenly;
        background: #1e416d;
        flex-wrap: wrap;
    }
    .nav-bar ul li {
        box-sizing: border-box;
    }
    .nav-bar ul li a {
        text-decoration: none;
        font-weight: 600;
        font-size: 1.2em;
        color: rgb(160 159 159);
        text-transform: uppercase;
    }
    .nav-bar ul li:hover {
        font-weight: 700;
        border-bottom: 6px solid white;
    }
    .nav-bar ul li a:hover {
        color: rgb(207, 204, 204);
        color: white;
    }
    /* footer */
    .footer-content {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        padding: 15px;
        margin-top: 25px;
    }
    .footer-content div {
        width: calc(33% - 10px);
        box-sizing: border-box;
    }
    .footer-right h4 {
        margin-bottom: 20px;
    }
    .footer-right a {
        margin-left: 18px;
        margin-right: 0px;
    }
    /* contenedor padre-hijo imagenes */
    .img-text-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .two-col {
        width: calc(50% - 6em);
        box-sizing: border-box;
    }
}

/* ----------- FIN TABLET ----------------- */

/* LAPTOP */
@media screen and (min-width: 1024px) {
    /* header */
    .header-content div img {
        margin-right: 50px;
        width: 6%;
    }
    .header-content div input {
        margin-right: 1%;
        width: 70%;
    }
    .header-content div button {
        padding: 15px;
    }
    /* nav-bar */
    .nav-bar ul {
        justify-content: center;
    }
    .nav-bar ul li {
        padding: 15px;
    }
    /* footer */
    .footer-content {
        padding: 30px 0;
    }
}

/* ----------- FIN LAPTOP ----------------- */

/* DESKTOP */
@media screen and (min-width: 1200px) {
    /* header */
    .header-content div img {
        margin-right: 8%;
        width: 4%;
    }
    .header-content div input {
        margin-right: 1%;
        width: 70%;
    }
    .header-content div button {
        padding: 15px;
    }
    /* nav-bar */
    .nav-bar ul li {
        padding: 15px 35px;
    }
    .ocultar {
        display: none;
    }

    /* mensaje error / success js */
    .errorMessage {
        color: red;
        display: block;
        margin-bottom: 11px;
        font-weight: 600;
    }

    .errorInput {
        padding: 15px;
        margin: 10px 0px;
        width: 100%;
        border-radius: 25px;
        background-color: white;
        border: 2px solid red;
    }

    .boton-enviar input {
        padding: 20px;
        width: 100%;
        border-radius: 20px;
        border: 3px solid #40d12ef7;
        background: none;
        color: black;
        font-weight: 500;
        font-size: 1.3em;
        cursor: pointer;
        transition: background 1s, color 1s;
    }
    .boton-enviar input:hover {
        background: #40d12ef7;
        color: white;
    }

    .campos-obligatorios {
        background-color: #fd0000;
        text-align: center;
        width: 100%;
        padding: 15px;
        margin-bottom: 30px;
        border-radius: 25px;
    }
    .campos-obligatorios p {
        font-size: 1.2em;
        font-weight: 500;
        color: white;
    }
    
}
